/* form */
.lxTest {
    border: 1px solid #333;
    padding: 20px;
    width: 700px;
}


/* 미리보기 */
.preview {
    border: 1px solid #333;
    padding: 20px;
    width: 600px;
    height: 600px;
    margin-top: 30px;
}
.img1 {
    width: 600px;
    height: 600px;
}
.img2 {
    width: 250px; 
    height: 250px;
}

.topContainer {
    position: absolute;
    border: 1px solid #333;
    /* padding: 20px; */
    z-index: 1;
}
.bottomContainer {
    position: absolute;
    left:200px;
    top:400px;
    z-index: 9999999;
}

/* 저장 기능 */
.saveBtn {
    background: none;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 5px;
    cursor: pointer;
}
.saveBtn:hover {
    background: #333;
    color: #fff;
}